h1 {
    text-align: center;    
    background-color: slategrey;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#weather-input {
    float: left;
}


.col-4 {
    margin: 30px;
    padding: 20px;
}

.col-8 {
    margin: 30px;
    padding: 20px;
}

.card {
    margin: 10px;
    padding: 0px;
    display: inline-block;
    width: 30%;
    overflow: auto;
}

.card-container {
    width: 100%;
    margin: auto 0;
    display: flex;
    justify-content: center;
    overflow: auto;
    text-align: center;
  }

.card-body {
      text-align: center;
      padding: 5px;
      line-height: 1.5;
      width: auto;
      overflow: auto;
  }

.background-color-red {
    background-color: red;
}

.background-color-green {
    background-color:green;
}

.background-color-orange {
    background-color: orange;
}

.background-color-yellow {
    background-color: yellow;
}